In [2]:
from tqdm import tqdm
import csv 
import time
from gnews import GNews
google_news = GNews()
import os

/usr4/ugrad/namann/.local/lib/python3.10/site-packages/requests/__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.16) or chardet (5.1.0)/charset_normalizer (2.0.12) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

In [7]:
def abb_to_state(abbreviation):
    state_dict = {
        "AL": "Alabama",
        "AK": "Alaska",
        "AZ": "Arizona",
        "AR": "Arkansas",
        "CA": "California",
        "CO": "Colorado",
        "CT": "Connecticut",
        "DE": "Delaware",
        "FL": "Florida",
        "GA": "Georgia",
        "HI": "Hawaii",
        "ID": "Idaho",
        "IL": "Illinois",
        "IN": "Indiana",
        "IA": "Iowa",
        "KS": "Kansas",
        "KY": "Kentucky",
        "LA": "Louisiana",
        "ME": "Maine",
        "MD": "Maryland",
        "MA": "Massachusetts",
        "MI": "Michigan",
        "MN": "Minnesota",
        "MS": "Mississippi",
        "MO": "Missouri",
        "MT": "Montana",
        "NE": "Nebraska",
        "NV": "Nevada",
        "NH": "New Hampshire",
        "NJ": "New Jersey",
        "NM": "New Mexico",
        "NY": "New York",
        "NC": "North Carolina",
        "ND": "North Dakota",
        "OH": "Ohio",
        "OK": "Oklahoma",
        "OR": "Oregon",
        "PA": "Pennsylvania",
        "RI": "Rhode Island",
        "SC": "South Carolina",
        "SD": "South Dakota",
        "TN": "Tennessee",
        "TX": "Texas",
        "UT": "Utah",
        "VT": "Vermont",
        "VA": "Virginia",
        "WA": "Washington",
        "WV": "West Virginia",
        "WI": "Wisconsin",
        "WY": "Wyoming",
    }
    
    return state_dict.get(abbreviation.upper(), "Abbreviation not found. Please enter a valid state abbreviation.")


print(abb_to_state("NY"))

New York

In [8]:
import pandas as pd
df = pd.read_csv("Datasets/abnormal_arrest_dates.csv")

In [ ]:

df['arrestdate'] = pd.to_datetime(df['arrestdate'])
for x in range(len(df['ST'])):
    df['ST'][x] =  abb_to_state(df['ST'][x])
    df['date_start'] = df['arrestdate'] - pd.Timedelta(days=2)
    df['date_end'] = df['arrestdate'] + pd.Timedelta(days=14)

In [10]:
df

,"Raid (y=1, n=0)",Source,Source2,Source3,arrestdate,date_start,date_end,CountyName,ST,arrests,...,city2,city3,location (qualitatively),"target (location targeted: 1=restaurant 2=mobile home park 3=courthouse 4=jail 5= county 6=city/town, 7= store/establishment 8=state 9=hotel 10=church 11=private home 12=agricultural business 13= hospital 14= spa/salon 15= money remitters 16= national park)",previousconviction (percent),female,nationality,StateCountyFIPS,FIPSState,FIPSCounty
0,NaN,NaN,NaN,NaN,2018-02-16,2018-02-14,2018-03-02,Rusk,Texas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48401,48,401
1,NaN,NaN,NaN,NaN,2015-03-03,2015-03-01,2015-03-17,Sandusky,Ohio,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39143,39,143
2,NaN,NaN,NaN,NaN,2018-03-08,2018-03-06,2018-03-22,Jefferson,Alabama,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1073,1,73
3,NaN,NaN,NaN,NaN,2016-08-15,2016-08-13,2016-08-29,Oklahoma,Oklahoma,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40109,40,109
4,NaN,NaN,NaN,NaN,2017-02-08,2017-02-06,2017-02-22,Oklahoma,Oklahoma,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40109,40,109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757,NaN,NaN,NaN,NaN,2016-09-27,2016-09-25,2016-10-11,Mobile,Alabama,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1097,1,97
758,NaN,NaN,NaN,NaN,2016-10-05,2016-10-03,2016-10-19,Mobile,Alabama,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1097,1,97
759,NaN,NaN,NaN,NaN,2016-10-12,2016-10-10,2016-10-26,Mobile,Alabama,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1097,1,97
760,NaN,NaN,NaN,NaN,2016-10-19,2016-10-17,2016-11-02,Mobile,Alabama,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1097,1,97
761,NaN,NaN,NaN,NaN,2016-11-10,2016-11-08,2016-11-24,Mobile,Alabama,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1097,1,97

In [ ]:
with open('Datasets/Intermediate_output.csv', mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerow(['County', 'State', 'Arrest_Date', 'Start_Date_Param', 'End_Date_Param', 'Article_Title', 'Article_Link', 'Article_Date', 'Query Term'])
        
    #Immigration Raid
    for x in tqdm(range(len(df['ST']))):
        #print(f"looking at {df['CountyName'][x]}{df['ST'][x]} ")
        google_news.start_date = (df['date_start'].dt.year[x], df['date_start'].dt.month[x], df['date_start'].dt.day[x]) # Search from 1st Jan 2020
        google_news.end_date = (df['date_end'].dt.year[x], df['date_end'].dt.month[x], df['date_end'].dt.day[x])
        links = google_news.get_news(f"Immigration raid {df['CountyName'][x]} county {df['ST'][x]}")

        if len(links) != 0:
            for link in links:
                writer.writerow([df['CountyName'][x], df['ST'][x], df['arrestdate'][x], df['date_start'][x], 
                                    df['date_end'][x], link['title'], link['url'], link['published date'], 'Immigration Raid'])
       
       # time.sleep(1)
    #Raid arrest
    for x in tqdm(range(len(df['ST']))):
        #print(f"looking at {df['CountyName'][x]}{df['ST'][x]} ")
        google_news.start_date = (df['date_start'].dt.year[x], df['date_start'].dt.month[x], df['date_start'].dt.day[x]) # Search from 1st Jan 2020
        google_news.end_date = (df['date_end'].dt.year[x], df['date_end'].dt.month[x], df['date_end'].dt.day[x])
        links = google_news.get_news(f"Raid arrest {df['CountyName'][x]} county {df['ST'][x]}")

        if len(links) != 0:
            for link in links:
                writer.writerow([df['CountyName'][x], df['ST'][x], df['arrestdate'][x], df['date_start'][x], 
                                    df['date_end'][x], link['title'], link['url'], link['published date'], 'Raid Arrest'])
      
        time.sleep(1)
    #Ice Raid
    for x in tqdm(range(len(df['ST']))):
        #print(f"looking at {df['CountyName'][x]}{df['ST'][x]} ")
        google_news.start_date = (df['date_start'].dt.year[x], df['date_start'].dt.month[x], df['date_start'].dt.day[x]) # Search from 1st Jan 2020
        google_news.end_date = (df['date_end'].dt.year[x], df['date_end'].dt.month[x], df['date_end'].dt.day[x])
        links = google_news.get_news(f"ICE raid {df['CountyName'][x]} county {df['ST'][x]}")

        if len(links) != 0:
            for link in links:
                writer.writerow([df['CountyName'][x], df['ST'][x], df['arrestdate'][x], df['date_start'][x], 
                                    df['date_end'][x], link['title'], link['url'], link['published date'], 'ICE raid'])
       
        time.sleep(1)
            
    #Immigration Raid NC
    for x in tqdm(range(len(df['ST']))):
        #print(f"looking at {df['CountyName'][x]}{df['ST'][x]} ")
        google_news.start_date = (df['date_start'].dt.year[x], df['date_start'].dt.month[x], df['date_start'].dt.day[x]) # Search from 1st Jan 2020
        google_news.end_date = (df['date_end'].dt.year[x], df['date_end'].dt.month[x], df['date_end'].dt.day[x])
        links = google_news.get_news(f"Immigration raid {df['CountyName'][x]}, {df['ST'][x]}")

        if len(links) != 0:
            for link in links:
                writer.writerow([df['CountyName'][x], df['ST'][x], df['arrestdate'][x], df['date_start'][x], 
                                    df['date_end'][x], link['title'], link['url'], link['published date'], 'Immigration Raid NC'])
   
        time.sleep(1)
    #Raid arrest NC
    for x in tqdm(range(len(df['ST']))):
        #print(f"looking at {df['CountyName'][x]}{df['ST'][x]} ")
        google_news.start_date = (df['date_start'].dt.year[x], df['date_start'].dt.month[x], df['date_start'].dt.day[x]) # Search from 1st Jan 2020
        google_news.end_date = (df['date_end'].dt.year[x], df['date_end'].dt.month[x], df['date_end'].dt.day[x])
        links = google_news.get_news(f"Raid arrest {df['CountyName'][x]}, {df['ST'][x]}")

        if len(links) != 0:
            for link in links:
                writer.writerow([df['CountyName'][x], df['ST'][x], df['arrestdate'][x], df['date_start'][x], 
                                    df['date_end'][x], link['title'], link['url'], link['published date'], 'Raid Arrest NC'])
        
        time.sleep(1)
    #Ice Raid NC
    for x in tqdm(range(len(df['ST']))):
        #print(f"looking at {df['CountyName'][x]}{df['ST'][x]} ")
        google_news.start_date = (df['date_start'].dt.year[x], df['date_start'].dt.month[x], df['date_start'].dt.day[x]) # Search from 1st Jan 2020
        google_news.end_date = (df['date_end'].dt.year[x], df['date_end'].dt.month[x], df['date_end'].dt.day[x])
        links = google_news.get_news(f"ICE raid {df['CountyName'][x]}, {df['ST'][x]}")

        if len(links) != 0:
            for link in links:
                writer.writerow([df['CountyName'][x], df['ST'][x], df['arrestdate'][x], df['date_start'][x], 
                                    df['date_end'][x], link['title'], link['url'], link['published date'], 'ICE raid NC'])
        
        time.sleep(1)

In [ ]:
df = pd.read_csv('Intermediate_output.csv')
grouped = df.groupby('combined')['Query Term'].apply(lambda x: ', '.join(x.unique())).reset_index()

df_merged = df.merge(grouped, on='combined', how='left')

df_cleaned = df_merged.drop_duplicates(subset='combined')

df_final = df_cleaned.drop(columns=['combined', 'Query Term_x'])
df_final = df_final.rename(columns={'Query Term_y': 'Query_Term'})
df_final.to_csv('Intermediate_csv.csv')
os.remove('Intermediate_output.csv')