# Preliminary EDA

Written by Can Erozer

In [1]:
pwd

'/Users/canerozer/Desktop/DS701_Proje'

In [108]:
import pandas as pd
import re
import numpy as np

In [82]:
df_immig_raid=pd.read_excel('immigration_raids_oct2014_may2018.xlsx')

In [6]:
df_abn_arrest_dates= pd.read_excel('abnormal_arrest_dates.xlsx')

In [7]:
df_abn_arrest_dates.head()

Empty DataFrame
Columns: [Raid (y=1, n=0), Source, Source2, Source3, arrestdate, date_start, date_end, CountyName, ST, arrests, arrests_total, durationofraid (in days), city, city2, city3, location (qualitatively), target  (location targeted: 1=restaurant 2=mobile home park 3=courthouse 4=jail 5= county 6=city/town, 7= store/establishment 8=state 9=hotel 10=church 11=private home 12=agricultural business 13= hospital 14= spa/salon 15= money remitters 16= national park), previousconviction (percent), female, nationality, StateCountyFIPS, FIPSState, FIPSCounty]
Index: []

[0 rows x 23 columns]

In [4]:
df_immig_raid.head()

,Source,Source2,Source3,arrestdate,date_end,CountyName,ST,arrests,arrests_total,durationofraid,...,city2,city3,location,"target (location targeted: 1=restaurant 2=mobile home park 3=courthouse 4=jail 5= county 6=city/town, 7= store/establishment 8=state 9=hotel 10=church 11=private home 12=agricultural business 13= hospital)",previousconviction,female,nationality,FIPSState,FIPSCounty,StateCountyFIPS
0,Link,NaN,NaN,10/1/14,2014-10-01 00:00:00,Los Angeles,CA,9.0,9.0,1.0,...,NaN,NaN,Los Angeles fashion district,7,NaN,NaN,NaN,6.0,37.0,6037.0
1,Link,NaN,NaN,2/11/18,2018-02-15 00:00:00,Los Angeles,CA,212.0,212.0,5.0,...,NaN,NaN,Los Angeles area of responsibility,6,0.55,NaN,NaN,6.0,37.0,6037.0
2,Link,NaN,NaN,2/12/18,2018-02-15 00:00:00,Los Angeles,CA,212.0,212.0,5.0,...,NaN,NaN,Southern California,NaN,0.55,NaN,NaN,6.0,37.0,6037.0
3,Link,NaN,NaN,2/13/18,2018-02-15 00:00:00,Los Angeles,CA,212.0,212.0,5.0,...,NaN,NaN,Southern California,NaN,0.55,NaN,NaN,6.0,37.0,6037.0
4,Link,NaN,NaN,2/14/18,2018-02-15 00:00:00,Los Angeles,CA,212.0,212.0,5.0,...,NaN,NaN,Southern California,NaN,0.55,NaN,NaN,6.0,37.0,6037.0

In [5]:
df_immig_raid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 21 columns):
 #   Column                                                                                                                                                                                                          Non-Null Count  Dtype
---  ------                                                                                                                                                                                                          --------------  -----
 0   Source                                                                                                                                                                                                          780 non-null    object
 1   Source2                                                                                                                                                                                                         191 non-null    object
 2   Source3                                                                                                                                                                                                         143 non-null    object
 3   arrestdate                                                                                                                                                                                                      780 non-null    object
 4   date_end                                                                                                                                                                                                        773 non-null    object
 5   CountyName                                                                                                                                                                                                      780 non-null    object
 6   ST                                                                                                                                                                                                              780 non-null    object
 7   arrests                                                                                                                                                                                                         532 non-null    float64
 8   arrests_total                                                                                                                                                                                                   743 non-null    float64
 9   durationofraid                                                                                                                                                                                                  742 non-null    float64
 10  city                                                                                                                                                                                                            481 non-null    object
 11  city2                                                                                                                                                                                                           144 non-null    object
 12  city3                                                                                                                                                                                                           92 non-null     object
 13  location                                                                                                                                                                                                        374 non-null    object
 14  target  (location targeted: 1=restaurant 2=mobile home park 3=courthouse 4=jail 5= county 6=city/town, 7= store/establishment 8=state 9=hotel 10=church 11=private home 12=agricultural business 13= hospital)  446 non-null    object
 15  previousconviction                                                                                                                                                                                              373 non-null    object
 16  female                                                                                                                                                                                                          279 non-null    float64
 17  nationality                                                                                                                                                                                                     400 non-null    object
 18  FIPSState                                                                                                                                                                                                       481 non-null    float64
 19  FIPSCounty                                                                                                                                                                                                      481 non-null    float64
 20  StateCountyFIPS                                                                                                                                                                                                 481 non-null    float64
dtypes: float64(7), object(14)
memory usage: 128.1+ KB

In [8]:
df_immig_raid.shape

(780, 21)

# First Insights

First I will make an analysis on attributes that are formed of links.

## For 'Source' attribute:

In [256]:
df_immig_raid['Source'].isna().any()

np.False_

All the links are given in this attribute.

## For 'Source2' attribute:

In [257]:
df_immig_raid['Source2'].isna().any()

np.True_

In [258]:
df_immig_raid['Source2'].isna().value_counts()

Source2
True     589
False    191
Name: count, dtype: int64

## For 'Source3' attribute:

In [259]:
df_immig_raid['Source2'].isna().any()

np.True_

In [260]:
df_immig_raid['Source2'].isna().value_counts()

Source2
True     589
False    191
Name: count, dtype: int64

### Now, I will make an analysis on attributes that are not formed of links.

In [15]:
columns_wo_source=df_immig_raid.columns[3:]

In [16]:
columns_wo_source

Index(['arrestdate', 'date_end', 'CountyName', 'ST', 'arrests',
       'arrests_total', 'durationofraid', 'city', 'city2', 'city3', 'location',
       'target  (location targeted: 1=restaurant 2=mobile home park 3=courthouse 4=jail 5= county 6=city/town, 7= store/establishment 8=state 9=hotel 10=church 11=private home 12=agricultural business 13= hospital)',
       'previousconviction', 'female', 'nationality', 'FIPSState',
       'FIPSCounty', 'StateCountyFIPS'],
      dtype='object')

## For 'arrestdate' attribute:

In [24]:
df_immig_raid['arrestdate'].value_counts()

arrestdate
9/18/16                18
9/23/16                18
9/19/16                18
9/20/16                18
9/21/16                18
                       ..
10/1/14                 1
2018-02-22 00:00:00     1
2/24/15                 1
2017-12-04 00:00:00     1
2017-02-28 00:00:00     1
Name: count, Length: 326, dtype: int64

In [25]:
df_immig_raid['arrestdate'].values

array(['10/1/14', '2/11/18', '2/12/18', '2/13/18', '2/14/18', '2/15/18',
       '2/24/15', '2/6/17', '2/7/17', '2/8/17', '2/9/17', '3/1/15',
       '3/2/15', '3/3/15', '3/4/15', '3/5/15', '4/4/17', '5/20/17',
       '5/21/17', '5/22/17', '5/23/17', '5/24/17', '7/17/16', '7/18/16',
       '7/19/16', '7/20/16', '8/23/15', '8/24/15', '8/25/15', '8/26/15',
       '9/24/17', '9/25/17', '9/26/17', '9/27/17',
       datetime.datetime(2015, 3, 1, 0, 0),
       datetime.datetime(2015, 3, 2, 0, 0),
       datetime.datetime(2015, 3, 3, 0, 0),
       datetime.datetime(2015, 3, 4, 0, 0),
       datetime.datetime(2015, 3, 5, 0, 0),
       datetime.datetime(2015, 8, 23, 0, 0),
       datetime.datetime(2015, 8, 25, 0, 0),
       datetime.datetime(2015, 8, 26, 0, 0),
       datetime.datetime(2016, 2, 26, 0, 0),
       datetime.datetime(2017, 2, 6, 0, 0),
       datetime.datetime(2017, 2, 7, 0, 0),
       datetime.datetime(2017, 2, 8, 0, 0),
       datetime.datetime(2017, 2, 9, 0, 0),
       datetime.datetime(2017, 2, 10, 0, 0),
       datetime.datetime(2017, 5, 20, 0, 0),
       datetime.datetime(2017, 5, 21, 0, 0),
       datetime.datetime(2017, 5, 22, 0, 0),
       datetime.datetime(2017, 5, 23, 0, 0),
       datetime.datetime(2017, 5, 24, 0, 0),
       datetime.datetime(2017, 9, 25, 0, 0),
       datetime.datetime(2017, 9, 26, 0, 0),
       datetime.datetime(2018, 2, 11, 0, 0),
       datetime.datetime(2018, 2, 12, 0, 0),
       datetime.datetime(2018, 2, 13, 0, 0),
       datetime.datetime(2018, 2, 14, 0, 0),
       datetime.datetime(2015, 3, 1, 0, 0),
       datetime.datetime(2015, 3, 2, 0, 0),
       datetime.datetime(2015, 3, 3, 0, 0),
       datetime.datetime(2015, 3, 4, 0, 0),
       datetime.datetime(2015, 3, 5, 0, 0),
       datetime.datetime(2015, 9, 10, 0, 0),
       datetime.datetime(2015, 9, 11, 0, 0),
       datetime.datetime(2015, 9, 12, 0, 0),
       datetime.datetime(2015, 9, 13, 0, 0),
       datetime.datetime(2015, 9, 14, 0, 0),
       datetime.datetime(2015, 9, 15, 0, 0),
       datetime.datetime(2015, 9, 16, 0, 0),
       datetime.datetime(2015, 9, 17, 0, 0),
       datetime.datetime(2015, 9, 18, 0, 0),
       datetime.datetime(2015, 9, 19, 0, 0),
       datetime.datetime(2015, 9, 20, 0, 0),
       datetime.datetime(2015, 9, 21, 0, 0),
       datetime.datetime(2015, 9, 22, 0, 0),
       datetime.datetime(2015, 9, 24, 0, 0),
       datetime.datetime(2015, 9, 25, 0, 0),
       datetime.datetime(2015, 9, 26, 0, 0),
       datetime.datetime(2015, 9, 27, 0, 0),
       datetime.datetime(2015, 9, 28, 0, 0),
       datetime.datetime(2015, 9, 29, 0, 0),
       datetime.datetime(2016, 1, 2, 0, 0),
       datetime.datetime(2016, 1, 3, 0, 0),
       datetime.datetime(2016, 1, 4, 0, 0),
       datetime.datetime(2017, 4, 18, 0, 0),
       datetime.datetime(2017, 4, 19, 0, 0),
       datetime.datetime(2017, 4, 20, 0, 0),
       datetime.datetime(2017, 4, 21, 0, 0),
       datetime.datetime(2018, 3, 18, 0, 0),
       datetime.datetime(2018, 3, 20, 0, 0),
       datetime.datetime(2018, 3, 21, 0, 0),
       datetime.datetime(2018, 3, 22, 0, 0), '3/1/15', '3/2/15', '3/3/15',
       '3/4/15', '3/5/15', datetime.datetime(2015, 3, 1, 0, 0),
       datetime.datetime(2015, 3, 2, 0, 0),
       datetime.datetime(2015, 3, 3, 0, 0),
       datetime.datetime(2015, 3, 4, 0, 0),
       datetime.datetime(2015, 3, 5, 0, 0),
       datetime.datetime(2016, 3, 8, 0, 0),
       datetime.datetime(2016, 3, 9, 0, 0),
       datetime.datetime(2016, 3, 10, 0, 0),
       datetime.datetime(2016, 3, 11, 0, 0),
       datetime.datetime(2016, 3, 12, 0, 0),
       datetime.datetime(2016, 3, 13, 0, 0),
       datetime.datetime(2016, 3, 14, 0, 0),
       datetime.datetime(2016, 3, 15, 0, 0),
       datetime.datetime(2016, 3, 16, 0, 0),
       datetime.datetime(2016, 3, 17, 0, 0),
       datetime.datetime(2016, 3, 18, 0, 0),
       datetime.datetime(2016, 3, 19, 0, 0),
       datetime.datetime(2016, 3, 20, 0, 0),
       datetime.datetime(2016, 3, 21, 0, 0),
       datetime.datetime(2016, 6, 3, 0, 0),
       datetime.datetime(2016, 8, 8, 0, 0),
       datetime.datetime(2017, 2, 4, 0, 0),
       datetime.datetime(2017, 2, 5, 0, 0),
       datetime.datetime(2017, 2, 6, 0, 0),
       datetime.datetime(2017, 2, 7, 0, 0),
       datetime.datetime(2017, 2, 8, 0, 0),
       datetime.datetime(2017, 2, 9, 0, 0),
       datetime.datetime(2017, 2, 10, 0, 0),
       datetime.datetime(2017, 3, 27, 0, 0),
       datetime.datetime(2017, 9, 24, 0, 0),
       datetime.datetime(2017, 9, 25, 0, 0),
       datetime.datetime(2017, 9, 26, 0, 0),
       datetime.datetime(2017, 9, 27, 0, 0),
       datetime.datetime(2018, 5, 19, 0, 0),
       datetime.datetime(2018, 5, 20, 0, 0),
       datetime.datetime(2018, 5, 21, 0, 0),
       datetime.datetime(2018, 5, 22, 0, 0),
       datetime.datetime(2018, 5, 23, 0, 0),
       datetime.datetime(2018, 5, 24, 0, 0),
       datetime.datetime(2018, 5, 19, 0, 0),
       datetime.datetime(2018, 5, 20, 0, 0),
       datetime.datetime(2018, 5, 21, 0, 0),
       datetime.datetime(2018, 5, 22, 0, 0),
       datetime.datetime(2018, 5, 23, 0, 0),
       datetime.datetime(2018, 5, 24, 0, 0),
       datetime.datetime(2018, 5, 19, 0, 0),
       datetime.datetime(2018, 5, 20, 0, 0),
       datetime.datetime(2018, 5, 21, 0, 0),
       datetime.datetime(2018, 5, 22, 0, 0),
       datetime.datetime(2018, 5, 23, 0, 0),
       datetime.datetime(2018, 5, 24, 0, 0),
       datetime.datetime(2018, 5, 19, 0, 0),
       datetime.datetime(2018, 5, 20, 0, 0),
       datetime.datetime(2018, 5, 21, 0, 0),
       datetime.datetime(2018, 5, 22, 0, 0),
       datetime.datetime(2018, 5, 23, 0, 0),
       datetime.datetime(2018, 5, 24, 0, 0),
       datetime.datetime(2018, 5, 19, 0, 0),
       datetime.datetime(2018, 5, 20, 0, 0),
       datetime.datetime(2018, 5, 21, 0, 0),
       datetime.datetime(2018, 5, 22, 0, 0),
       datetime.datetime(2018, 5, 23, 0, 0),
       datetime.datetime(2018, 5, 24, 0, 0),
       datetime.datetime(2018, 5, 19, 0, 0),
       datetime.datetime(2018, 5, 20, 0, 0),
       datetime.datetime(2018, 5, 21, 0, 0),
       datetime.datetime(2018, 5, 22, 0, 0),
       datetime.datetime(2018, 5, 23, 0, 0),
       datetime.datetime(2018, 5, 24, 0, 0),
       datetime.datetime(2018, 5, 19, 0, 0),
       datetime.datetime(2018, 5, 20, 0, 0),
       datetime.datetime(2018, 5, 21, 0, 0),
       datetime.datetime(2018, 5, 22, 0, 0),
       datetime.datetime(2018, 5, 23, 0, 0),
       datetime.datetime(2018, 5, 24, 0, 0),
       datetime.datetime(2017, 2, 4, 0, 0),
       datetime.datetime(2017, 2, 5, 0, 0),
       datetime.datetime(2017, 2, 6, 0, 0),
       datetime.datetime(2017, 2, 7, 0, 0),
       datetime.datetime(2017, 2, 8, 0, 0),
       datetime.datetime(2017, 2, 9, 0, 0),
       datetime.datetime(2017, 2, 10, 0, 0),
       datetime.datetime(2016, 5, 18, 0, 0),
       datetime.datetime(2016, 6, 8, 0, 0),
       datetime.datetime(2017, 2, 13, 0, 0),
       datetime.datetime(2015, 3, 1, 0, 0),
       datetime.datetime(2015, 3, 2, 0, 0),
       datetime.datetime(2015, 3, 3, 0, 0),
       datetime.datetime(2015, 3, 4, 0, 0),
       datetime.datetime(2015, 3, 5, 0, 0),
       datetime.datetime(2017, 2, 1, 0, 0),
       datetime.datetime(2017, 3, 26, 0, 0),
       datetime.datetime(2017, 6, 22, 0, 0),
       datetime.datetime(2017, 9, 24, 0, 0),
       datetime.datetime(2017, 9, 25, 0, 0),
       datetime.datetime(2017, 9, 26, 0, 0),
       datetime.datetime(2017, 9, 27, 0, 0),
       datetime.datetime(2015, 3, 1, 0, 0),
       datetime.datetime(2015, 3, 2, 0, 0),
       datetime.datetime(2015, 3, 3, 0, 0),
       datetime.datetime(2015, 3, 4, 0, 0),
       datetime.datetime(2015, 3, 5, 0, 0),
       datetime.datetime(2015, 7, 21, 0, 0),
       datetime.datetime(2016, 1, 2, 0, 0),
       datetime.datetime(2016, 1, 3, 0, 0),
       datetime.datetime(2016, 1, 4, 0, 0),
       datetime.datetime(2016, 1, 5, 0, 0),
       datetime.datetime(2016, 1, 6, 0, 0),
       datetime.datetime(2017, 1, 6, 0, 0),
       datetime.datetime(2017, 3, 26, 0, 0),
       datetime.datetime(2017, 3, 27, 0, 0),
       datetime.datetime(2017, 3, 28, 0, 0),
       datetime.datetime(2017, 3, 29, 0, 0),
       datetime.datetime(2017, 3, 30, 0, 0),
       datetime.datetime(2017, 4, 26, 0, 0),
       datetime.datetime(2017, 4, 27, 0, 0),
       datetime.datetime(2017, 4, 28, 0, 0),
       datetime.datetime(2017, 4, 29, 0, 0),
       datetime.datetime(2017, 4, 30, 0, 0),
       datetime.datetime(2017, 5, 1, 0, 0),
       datetime.datetime(2017, 5, 2, 0, 0),
       datetime.datetime(2017, 5, 3, 0, 0),
       datetime.datetime(2017, 5, 4, 0, 0),
       datetime.datetime(2017, 5, 5, 0, 0),
       datetime.datetime(2017, 5, 6, 0, 0),
       datetime.datetime(2017, 9, 23, 0, 0),
       datetime.datetime(2017, 9, 24, 0, 0),
       datetime.datetime(2017, 9, 25, 0, 0),
       datetime.datetime(2017, 9, 26, 0, 0),
       datetime.datetime(2017, 9, 27, 0, 0),
       datetime.datetime(2018, 1, 10, 0, 0),
       datetime.datetime(2017, 2, 22, 0, 0),
       datetime.datetime(2017, 5, 24, 0, 0),
       datetime.datetime(2015, 3, 1, 0, 0),
       datetime.datetime(2015, 3, 2, 0, 0),
       datetime.datetime(2015, 3, 3, 0, 0),
       datetime.datetime(2015, 3, 4, 0, 0),
       datetime.datetime(2015, 3, 5, 0, 0), '2/26/18', '2/27/18',
       '2/28/18', '3/1/18', '3/2/18', '11/13/17', '11/14/17', '11/15/17',
       '11/16/17', '11/17/17', '11/18/17', '11/19/17', '11/20/17',
       '2/6/17', '2/7/17', '2/8/17', '2/9/17', '2/10/17',
       datetime.datetime(2017, 4, 25, 0, 0),
       datetime.datetime(2017, 2, 24, 0, 0), '5/9/18',
       datetime.datetime(2017, 2, 23, 0, 0),
       datetime.datetime(2015, 3, 1, 0, 0),
       datetime.datetime(2015, 3, 2, 0, 0),
       datetime.datetime(2015, 3, 3, 0, 0),
       datetime.datetime(2015, 3, 4, 0, 0),
       datetime.datetime(2015, 3, 5, 0, 0),
       datetime.datetime(2017, 2, 7, 0, 0),
       datetime.datetime(2017, 2, 8, 0, 0),
       datetime.datetime(2017, 2, 9, 0, 0),
       datetime.datetime(2017, 2, 10, 0, 0),
       datetime.datetime(2017, 2, 13, 0, 0),
       datetime.datetime(2017, 2, 22, 0, 0),
       datetime.datetime(2017, 2, 27, 0, 0),
       datetime.datetime(2017, 2, 28, 0, 0),
       datetime.datetime(2017, 3, 1, 0, 0),
       datetime.datetime(2017, 3, 2, 0, 0),
       datetime.datetime(2017, 3, 5, 0, 0),
       datetime.datetime(2017, 3, 6, 0, 0),
       datetime.datetime(2017, 3, 9, 0, 0),
       datetime.datetime(2017, 3, 10, 0, 0),
       datetime.datetime(2017, 5, 15, 0, 0),
       datetime.datetime(2017, 5, 16, 0, 0),
       datetime.datetime(2017, 5, 17, 0, 0),
       datetime.datetime(2017, 5, 23, 0, 0), '9/24/17', '9/25/17',
       '9/26/17', '9/27/17', datetime.datetime(2018, 4, 5, 0, 0),
       datetime.datetime(2017, 9, 13, 0, 0),
       datetime.datetime(2018, 1, 23, 0, 0),
       datetime.datetime(2018, 1, 24, 0, 0),
       datetime.datetime(2018, 1, 25, 0, 0),
       datetime.datetime(2018, 3, 20, 0, 0),
       datetime.datetime(2018, 3, 21, 0, 0),
       datetime.datetime(2018, 3, 22, 0, 0),
       datetime.datetime(2017, 5, 23, 0, 0),
       datetime.datetime(2018, 1, 23, 0, 0),
       datetime.datetime(2018, 1, 24, 0, 0),
       datetime.datetime(2018, 1, 25, 0, 0),
       datetime.datetime(2017, 2, 22, 0, 0),
       datetime.datetime(2018, 3, 20, 0, 0),
       datetime.datetime(2018, 3, 21, 0, 0),
       datetime.datetime(2018, 3, 22, 0, 0),
       datetime.datetime(2016, 2, 23, 0, 0),
       datetime.datetime(2015, 10, 24, 0, 0),
       datetime.datetime(2015, 10, 25, 0, 0),
       datetime.datetime(2015, 10, 26, 0, 0),
       datetime.datetime(2015, 10, 27, 0, 0),
       datetime.datetime(2015, 10, 28, 0, 0),
       datetime.datetime(2015, 10, 29, 0, 0),
       datetime.datetime(2016, 1, 30, 0, 0),
       datetime.datetime(2016, 1, 31, 0, 0),
       datetime.datetime(2016, 2, 1, 0, 0),
       datetime.datetime(2016, 2, 2, 0, 0),
       datetime.datetime(2016, 2, 3, 0, 0),
       datetime.datetime(2016, 2, 4, 0, 0),
       datetime.datetime(2016, 2, 5, 0, 0),
       datetime.datetime(2017, 2, 17, 0, 0),
       datetime.datetime(2016, 9, 18, 0, 0),
       datetime.datetime(2016, 9, 19, 0, 0),
       datetime.datetime(2016, 9, 20, 0, 0),
       datetime.datetime(2016, 9, 21, 0, 0),
       datetime.datetime(2016, 9, 22, 0, 0),
       datetime.datetime(2016, 9, 23, 0, 0),
       datetime.datetime(2017, 3, 26, 0, 0),
       datetime.datetime(2017, 3, 27, 0, 0),
       datetime.datetime(2017, 3, 28, 0, 0),
       datetime.datetime(2017, 3, 29, 0, 0),
       datetime.datetime(2017, 3, 30, 0, 0),
       datetime.datetime(2017, 3, 25, 0, 0),
       datetime.datetime(2017, 3, 26, 0, 0),
       datetime.datetime(2017, 3, 27, 0, 0),
       datetime.datetime(2016, 5, 9, 0, 0),
       datetime.datetime(2016, 5, 10, 0, 0),
       datetime.datetime(2016, 5, 11, 0, 0),
       datetime.datetime(2016, 5, 12, 0, 0),
       datetime.datetime(2016, 5, 13, 0, 0),
       datetime.datetime(2016, 5, 14, 0, 0),
       datetime.datetime(2016, 5, 15, 0, 0),
       datetime.datetime(2016, 5, 16, 0, 0),
       datetime.datetime(2016, 5, 17, 0, 0),
       datetime.datetime(2016, 5, 18, 0, 0),
       datetime.datetime(2016, 5, 19, 0, 0),
       datetime.datetime(2016, 5, 20, 0, 0),
       datetime.datetime(2016, 5, 21, 0, 0),
       datetime.datetime(2016, 5, 22, 0, 0),
       datetime.datetime(2016, 5, 23, 0, 0),
       datetime.datetime(2016, 5, 24, 0, 0),
       datetime.datetime(2016, 5, 25, 0, 0),
       datetime.datetime(2016, 5, 26, 0, 0),
       datetime.datetime(2016, 5, 27, 0, 0),
       datetime.datetime(2016, 5, 28, 0, 0),
       datetime.datetime(2016, 5, 29, 0, 0),
       datetime.datetime(2016, 5, 30, 0, 0),
       datetime.datetime(2016, 5, 31, 0, 0),
       datetime.datetime(2016, 6, 1, 0, 0),
       datetime.datetime(2016, 6, 2, 0, 0),
       datetime.datetime(2016, 6, 3, 0, 0),
       datetime.datetime(2016, 6, 4, 0, 0),
       datetime.datetime(2016, 6, 5, 0, 0),
       datetime.datetime(2016, 6, 6, 0, 0),
       datetime.datetime(2016, 6, 7, 0, 0),
       datetime.datetime(2016, 6, 8, 0, 0),
       datetime.datetime(2016, 6, 9, 0, 0),
       datetime.datetime(2016, 6, 10, 0, 0),
       datetime.datetime(2016, 6, 11, 0, 0),
       datetime.datetime(2016, 6, 12, 0, 0),
       datetime.datetime(2016, 6, 13, 0, 0), '5/9/2016',
       datetime.datetime(2017, 2, 4, 0, 0),
       datetime.datetime(2017, 2, 5, 0, 0),
       datetime.datetime(2017, 2, 6, 0, 0),
       datetime.datetime(2017, 2, 7, 0, 0),
       datetime.datetime(2017, 2, 8, 0, 0),
       datetime.datetime(2017, 2, 9, 0, 0),
       datetime.datetime(2017, 2, 10, 0, 0),
       datetime.datetime(2016, 5, 9, 0, 0),
       datetime.datetime(2016, 5, 10, 0, 0),
       datetime.datetime(2016, 5, 11, 0, 0),
       datetime.datetime(2016, 5, 12, 0, 0),
       datetime.datetime(2016, 5, 13, 0, 0),
       datetime.datetime(2016, 5, 14, 0, 0),
       datetime.datetime(2016, 5, 15, 0, 0),
       datetime.datetime(2016, 5, 16, 0, 0),
       datetime.datetime(2016, 5, 17, 0, 0),
       datetime.datetime(2016, 5, 18, 0, 0),
       datetime.datetime(2016, 5, 19, 0, 0),
       datetime.datetime(2016, 5, 20, 0, 0),
       datetime.datetime(2016, 5, 21, 0, 0),
       datetime.datetime(2016, 5, 22, 0, 0),
       datetime.datetime(2016, 5, 23, 0, 0),
       datetime.datetime(2016, 5, 24, 0, 0),
       datetime.datetime(2016, 5, 25, 0, 0),
       datetime.datetime(2016, 5, 26, 0, 0),
       datetime.datetime(2016, 5, 27, 0, 0),
       datetime.datetime(2016, 5, 28, 0, 0),
       datetime.datetime(2016, 5, 29, 0, 0),
       datetime.datetime(2016, 5, 30, 0, 0),
       datetime.datetime(2016, 5, 31, 0, 0),
       datetime.datetime(2016, 6, 1, 0, 0),
       datetime.datetime(2016, 6, 2, 0, 0),
       datetime.datetime(2016, 6, 3, 0, 0),
       datetime.datetime(2016, 6, 4, 0, 0),
       datetime.datetime(2016, 6, 5, 0, 0),
       datetime.datetime(2016, 6, 6, 0, 0),
       datetime.datetime(2016, 6, 7, 0, 0),
       datetime.datetime(2016, 6, 8, 0, 0),
       datetime.datetime(2016, 6, 9, 0, 0),
       datetime.datetime(2016, 6, 10, 0, 0),
       datetime.datetime(2016, 6, 11, 0, 0),
       datetime.datetime(2016, 6, 12, 0, 0),
       datetime.datetime(2016, 6, 13, 0, 0), '9/24/17', '9/25/17',
       '9/26/17', '9/27/17', '3/31/17', '4/1/17', '4/2/17', '4/3/17',
       '3/31/17', '4/1/17', '4/2/17', '4/3/17', '3/31/17', '4/1/17',
       '4/2/17', '4/3/17', '3/31/17', '4/1/17', '4/2/17', '4/3/17',
       '3/31/17', '4/1/17', '4/2/17', '4/3/17', '3/31/17', '4/1/17',
       '4/2/17', '4/3/17', '10/29/15', '10/29/15', '9/24/17', '9/25/17',
       '9/26/17', '9/27/17', '5/9/18', '2/6/17', '2/7/17', '2/8/17',
       '2/9/17', '2/10/17', '4/5/16', '2/6/17', '2/7/17', '2/8/17',
       '2/9/17', '2/10/17', '2/6/17', '2/7/17', '2/8/17', '2/9/17',
       '2/10/17', '9/24/17', '9/25/17', '9/26/17', '9/27/17', '9/24/17',
       '9/25/17', '9/26/17', '9/27/17', '9/24/17', '9/25/17', '9/26/17',
       '9/27/17', '9/24/17', '9/25/17', '9/26/17', '9/27/17', '6/11/17',
       '7/17/17', '7/18/17', '7/19/17', '7/20/17', '7/21/17', '2/15/17',
       '1/29/16', '4/14/18', '4/14/18', '10/29/15', '2/7/18', '2/7/18',
       '5/9/18', '2/7/17', '2/8/17', '2/9/17', '2/10/17', '2/11/17',
       '2/12/17', '2/13/17', '2/14/17', '2/15/17', '2/16/17', '2/17/17',
       '2/18/17', '2/19/17', '2/20/17', '2/21/17', '2/22/17', '2/23/17',
       '2/24/17', '2/25/17', '2/26/17', '2/27/17', '2/28/17', '4/5/18',
       '5/20/17', '5/21/17', '5/22/17', '5/23/17', '5/24/17', '5/25/17',
       '5/26/17', '5/27/17', '5/28/17', '5/29/17', '5/30/17', '5/31/17',
       '5/20/17', '5/21/17', '5/22/17', '5/23/17', '5/24/17', '5/25/17',
       '5/26/17', '5/27/17', '5/28/17', '5/29/17', '5/30/17', '5/31/17',
       '2/9/17', '2/10/17', '2/11/17', '2/12/17', '10/29/15', '2/8/17',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/18/16', '9/19/16', '9/20/16', '9/21/16', '9/22/16', '9/23/16',
       '9/24/17', '9/25/17', '9/26/17', '9/27/17', '3/31/17', '4/1/17',
       '4/2/17', '4/3/17', datetime.datetime(2017, 2, 6, 0, 0),
       datetime.datetime(2017, 2, 6, 0, 0),
       datetime.datetime(2017, 2, 7, 0, 0),
       datetime.datetime(2017, 2, 8, 0, 0),
       datetime.datetime(2017, 2, 9, 0, 0),
       datetime.datetime(2017, 2, 10, 0, 0),
       datetime.datetime(2018, 1, 10, 0, 0),
       datetime.datetime(2015, 3, 1, 0, 0),
       datetime.datetime(2015, 3, 2, 0, 0),
       datetime.datetime(2015, 3, 3, 0, 0),
       datetime.datetime(2015, 3, 4, 0, 0),
       datetime.datetime(2015, 3, 5, 0, 0),
       datetime.datetime(2015, 8, 9, 0, 0),
       datetime.datetime(2016, 1, 1, 0, 0),
       datetime.datetime(2016, 1, 2, 0, 0),
       datetime.datetime(2016, 1, 3, 0, 0),

In [98]:
df_immig_raid['arrestdate'].isna().any()

np.False_

It seems that there are multiple types of formats for specifying the date. The format must be consistent. Let's first try to understand the general format. By looking at value_counts() result, it appears that month/day/year is the general format. But this needs to be checked:

In [55]:
df_immig_raid['arrestdate'].apply(lambda x: 0 if type(x)==datetime.datetime else (1 if "/" in x else 2)).value_counts()

arrestdate
0    418
1    362
Name: count, dtype: int64

O represents the elements of the attribute that has the type datetime.datetime. And, 1 represents the elements that is in the format, month/day/year. And, 2 represents the ones that satisfies the neither of the conditions.

So, there are two different datatypes in this attrbiute. One of it is in the format month/day/year and the other one has type datetime.datetime. After counting them, the ones that have datetime.datetime type dominates this attribute. We could make this as the fixed data type of the attribute. But, it seems that datetime.datetime also gives the hour, minute and second information and they don't give any relevant information, since their values are apperas to be zero in all the cases. Let's see if that's the case:

In [123]:
df_immig_raid['arrestdate'].apply(lambda x: not (x.hour==0 and x.minute==0 and x.second==0) if type(x)==datetime.datetime else -1).value_counts()

arrestdate
False    418
-1       362
Name: count, dtype: int64

As can be seen above, hour, minute and second information is not given, yet replaced with the placeholder value 0. So, we can set the attribute's fix format as month/day/year.

In [84]:
df_immig_raid['arrestdate_start'] = df_immig_raid['arrestdate'].apply(lambda x: f"{x.month}/{x.day}/{str(x.year)[-2:]}" if type(x)==datetime.datetime else x)

In [88]:
df_immig_raid['arrestdate_start']

0        10/1/14
1        2/11/18
2        2/12/18
3        2/13/18
4        2/14/18
         ...
775    5/21/2019
776    5/22/2019
777    5/23/2019
778    5/24/2020
779      2/22/18
Name: arrestdate_start, Length: 780, dtype: object

Now we are sure that the format of the data is month/day/year. But, it seems that some of them give the year information in thousands. Since we already know that we are investigating cases from 2014 to 2018, we can give the year in two digits.

In [92]:
df_immig_raid['arrestdate_start']=df_immig_raid['arrestdate_start'].apply(lambda x: re.sub(r"(\w+)/(\w+)/(\w+)", r"\1/\2", x) + f"/{x[-2:]}" if len(re.sub(r"(\w+)/(\w+)/(\w+)", r"\3", x))==4 else x)

In [93]:
df_immig_raid['arrestdate_start']

0      10/1/14
1      2/11/18
2      2/12/18
3      2/13/18
4      2/14/18
        ...
775    5/21/19
776    5/22/19
777    5/23/19
778    5/24/20
779    2/22/18
Name: arrestdate_start, Length: 780, dtype: object

The name of the attribute is now arrestdate_start, because it is more descriptive then arrestdate.

## For 'date_end' attribute:

In [94]:
df_immig_raid['date_end'].value_counts()

date_end
2016-09-23 00:00:00    114
2018-05-24 00:00:00     90
6/13/2016               73
2017-02-10 00:00:00     56
2017-09-27 00:00:00     49
                      ...
2017-02-17 00:00:00      1
2016-02-23 00:00:00      1
2017-02-06 00:00:00      1
2017-03-09 00:00:00      1
2018-02-22 00:00:00      1
Name: count, Length: 76, dtype: int64

In [101]:
df_immig_raid['date_end'].isna().any()

np.True_

In [120]:
def check(x):
    if type(x)==datetime.datetime:
        return 0
    elif type(x)==float:
        return 1
    elif "/" in x:
        return 2
    else:
        return 3

This attribute has similar traits as the 'arrestdate' attribute. But now there are some null values in it. I will do the same analysis as I did for 'arrestdate' attribute:

In [121]:
df_immig_raid['date_end'].apply(check).value_counts()

date_end
0    666
2    107
1      7
Name: count, dtype: int64

O represents the elements of the attribute that has the type datetime.datetime. And, 1 represents the null elements. And, 2 represents the ones that is in the format month/day/year. 3 otherwise.

In [124]:
df_immig_raid['date_end'].apply(lambda x: not (x.hour==0 and x.minute==0 and x.second==0) if type(x)==datetime.datetime else -1).value_counts()

date_end
False    666
-1       114
Name: count, dtype: int64

Similarly, no information regarding the time is given.

In [125]:
df_immig_raid['arrestdate_end'] = df_immig_raid['date_end'].apply(lambda x: f"{x.month}/{x.day}/{str(x.year)[-2:]}" if type(x)==datetime.datetime else x)

In [129]:
df_immig_raid['arrestdate_end'] = df_immig_raid['date_end'].apply(lambda x: f"{x.month}/{x.day}/{str(x.year)[-2:]}" if type(x)==datetime.datetime else x)

In [132]:
df_immig_raid['arrestdate_end']=df_immig_raid['arrestdate_end'].apply(lambda x: re.sub(r"(\w+)/(\w+)/(\w+)", r"\1/\2", x) + f"/{x[-2:]}" if type(x)!=float and len(re.sub(r"(\w+)/(\w+)/(\w+)", r"\3", x))==4 else x)

In [135]:
df_immig_raid['arrestdate_end']

0      10/1/14
1      2/15/18
2      2/15/18
3      2/15/18
4      2/15/18
        ...
775    5/24/18
776    5/24/18
777    5/24/18
778    5/24/18
779    2/22/18
Name: arrestdate_end, Length: 780, dtype: object

## For 'CountyName' attribute:

In [137]:
df_immig_raid['CountyName'].value_counts()

CountyName
Cook               49
York               49
Camden             42
Prince George's    38
outagamie          37
                   ..
Tulsa               1
Harris              1
Talbot              1
Wayne               1
Leake               1
Name: count, Length: 88, dtype: int64

In [145]:
df_immig_raid['CountyName'].isna().any()

np.False_

This attribute looks fine but some of the name of counties don't start with capital name. Let's fix this:

In [178]:
df_immig_raid['CountyName'] = df_immig_raid['CountyName'].apply(lambda x: x[0].upper() + x[1:] if not (x[0].isupper()) else x)

In [179]:
df_immig_raid['CountyName'].value_counts()

CountyName
Cook               49
York               49
Outagamie          44
Camden             42
Prince George's    38
                   ..
Tulsa               1
Harris              1
Talbot              1
Wayne               1
Leake               1
Name: count, Length: 87, dtype: int64

## For 'ST' attribute:

In [140]:
df_immig_raid['ST'].value_counts()

ST
IL    127
VA    120
WI     80
MD     63
CA     63
PA     52
TX     44
NJ     42
FL     40
CO     24
GA     22
UT     15
NY     14
NM     11
NC     10
KY     10
KS      9
IN      7
MS      6
MI      4
WY      4
DC      4
WA      3
OK      2
TN      2
OR      1
IA      1
Name: count, dtype: int64

In [146]:
df_immig_raid['ST'].isna().any()

np.False_

This attribute looks fine as well.

## For 'arrests' attribute:

In [143]:
df_immig_raid['arrests'].value_counts()

arrests
6.0      109
1.0       62
4.0       60
156.0     42
5.0       31
12.0      24
11.0      22
21.0      22
27.0      15
2.0       13
16.0      13
35.0      11
26.0      10
99.0       9
161.0      9
3.0        8
48.0       7
17.0       6
101.0      6
0.0        6
111.0      6
7.0        6
20.0       6
14.0       6
93.0       5
212.0      5
56.0       4
30.0       4
15.0       2
9.0        1
54.0       1
80.0       1
Name: count, dtype: int64

In [159]:
df_immig_raid['arrests'].isna().any()

np.True_

In [189]:
df_immig_raid['arrests'].isna().value_counts()

arrests
False    532
True     248
Name: count, dtype: int64

## For 'arrests_total' attribute:

In [161]:
df_immig_raid['arrests_total'].value_counts()

arrests_total
1.0       126
156.0      90
39.0       75
2059.0     50
498.0      37
235.0      27
4.0        27
82.0       23
315.0      19
1133.0     14
64.0       12
24.0       12
52.0       11
680.0      11
36.0       10
188.0      10
212.0       9
271.0       9
161.0       9
55.0        9
248.0       8
101.0       8
51.0        8
84.0        8
244.0       7
121.0       6
86.0        6
89.0        6
11.0        6
50.0        6
2.0         5
5.0         5
44.0        5
14.0        5
60.0        5
113.0       5
190.0       5
1300.0      5
6.0         4
27.0        4
76.0        4
100.0       4
30.0        4
21.0        3
81.0        2
7.0         2
450.0       2
10.0        2
3.0         2
97.0        2
12.0        2
9.0         1
331.0       1
20.0        1
32.0        1
40.0        1
69.0        1
80.0        1
Name: count, dtype: int64

In [164]:
df_immig_raid['arrests_total'].isna().any()

np.True_

In [190]:
df_immig_raid['arrests_total'].isna().value_counts()

arrests_total
False    743
True      37
Name: count, dtype: int64

## For 'durationofraid' attribute:

In [165]:
df_immig_raid['durationofraid'].value_counts()

durationofraid
5.0      128
51.0     110
6.0      103
34.0      74
4.0       67
7.0       35
1.0       30
26.0      28
153.0     24
16.0      22
35.0      19
21.0      19
3.0       19
8.0       16
11.0      12
12.0      10
235.0     10
50.0       5
29.0       4
81.0       2
10.0       2
32.0       1
40.0       1
97.0       1
Name: count, dtype: int64

In [166]:
df_immig_raid['durationofraid'].isna().any()

np.True_

In [191]:
df_immig_raid['durationofraid'].isna().value_counts()

durationofraid
False    742
True      38
Name: count, dtype: int64

## For 'city' attribute:

In [168]:
df_immig_raid['city'].value_counts()

city
seymour            37
Chicago            33
Springgettsbury    22
Joliet             18
Austin             16
                   ..
Tulsa               1
Morristown          1
Atlanta             1
Lakewood            1
detroit             1
Name: count, Length: 82, dtype: int64

In [181]:
df_immig_raid['city'].isna().any()

np.True_

In [192]:
df_immig_raid['city'].isna().value_counts()

city
False    481
True     299
Name: count, dtype: int64

This attribute looks fine. But some of the city names don't start witha capital letter. Let's fix that:

In [185]:
df_immig_raid['city'] = df_immig_raid['city'].apply(lambda x: x[0].upper() + x[1:] if type(x)!=float and not (x[0].isupper()) else x)

In [186]:
df_immig_raid['city'].value_counts()

city
Seymour            37
Chicago            33
Springgettsbury    22
Joliet             18
Austin             16
                   ..
Tulsa               1
Morristown          1
Atlanta             1
Lakewood            1
Detroit             1
Name: count, Length: 82, dtype: int64

## For 'city2' attribute:

In [187]:
df_immig_raid['city2'].value_counts()

city2
Cicero               22
Bartlett             18
Waco                 12
Waukegan             12
Naperville            6
Berwyn                6
Aurora                6
Arlington Heights     6
Chatham               6
Collinsville          6
Herdon                6
Manassas              6
New York              5
Oxnard                5
Camarillo             5
Downey                4
Thornton              4
Kaufman               3
Bakersfield           1
Parkville             1
Broken Arrow          1
Hendersonville        1
Dodge City            1
Jersey City           1
Name: count, dtype: int64

In [194]:
df_immig_raid['city2'].isna().any()

np.True_

In [196]:
df_immig_raid['city2'].isna().value_counts()

city2
True     636
False    144
Name: count, dtype: int64

## For 'city3' attribute:

In [198]:
df_immig_raid['city3'].value_counts()

city3
Deerfield                                                                                                                                                                                                                                                                                                                     14
Bartlett, Berkley, Berwyn, Blue Island, Bridgeview, Burbank,  Chicago Ridge, Cicero, Des Plaines, Elgin, Hanover Park, Hoffman Estates, Elgin, Markham, Melrose Park, Rolling Meadows, Skokie, Wheeling, Mt. Prospect, Northfield, North Riverside, Orland Park, Palatine, Rolling Meadows, Rosemont, Stickney, Stone Park     6
Elgin, Estates, Geneva, St. Charles                                                                                                                                                                                                                                                                                            6
Berkley,  Blue Island, Bridgeview, Burbank, Chicago Ridge, Cicero, Des Plaines, Elgin, Estates, Mt. Prospect, Northfield, North Riverside, Orland Park, Palatine, Rolling Meadows, Rosemont, Stickney, Stone Park                                                                                                              6
Bartlett, Bolingbrook, Carol Stream, Hanover Park, Naperville, St. Charles, Warrenville, Wheaton                                                                                                                                                                                                                               6
Elgin, Geneva, St. Charles                                                                                                                                                                                                                                                                                                     6
Woodbridge                                                                                                                                                                                                                                                                                                                     6
Danville                                                                                                                                                                                                                                                                                                                       6
Bassett                                                                                                                                                                                                                                                                                                                        6
Chantilly                                                                                                                                                                                                                                                                                                                      6
Bolingbrook, Carol Stream, Hanover Park, Naperville, St. Charles, Warrenville, West Chicago, Wheaton                                                                                                                                                                                                                           6
Santa Paula                                                                                                                                                                                                                                                                                                                    5
Atlanta                                                                                                                                                                                                                                                                                                                        5
Commerce                                                                                                                                                                                                                                                                                                                       4
Oxnard                                                                                                                                                                                                                                                                                                                         1
Owings Mills                                                                                                                                                                                                                                                                                                                   1
Garden city                                                                                                                                                                                                                                                                                                                    1
Newark                                                                                                                                                                                                                                                                                                                         1
Name: count, dtype: int64

In [199]:
df_immig_raid['city3'].isna().any()

np.True_

In [200]:
df_immig_raid['city3'].isna().value_counts()

city3
True     688
False     92
Name: count, dtype: int64

This seems to be a very unorganized attribute. So, no further modifications can be made without consultion with the client.

## For 'location' attribute:

In [201]:
df_immig_raid['location'].value_counts()

location
nationwide                                                                                                                                                                                                                                                                                                                                                                                                                                                                          96
six Midwestern states; statewide                                                                                                                                                                                                                                                                                                                                                                                                                                                    73
Chicago area                                                                                                                                                                                                                                                                                                                                                                                                                                                                        48
Aroma Buffet & Grill                                                                                                                                                                                                                                                                                                                                                                                                                                                                22
statewide                                                                                                                                                                                                                                                                                                                                                                                                                                                                           18
Statewide: New Jersey                                                                                                                                                                                                                                                                                                                                                                                                                                                               13
North Texas and Oklahoma                                                                                                                                                                                                                                                                                                                                                                                                                                                            13
New York                                                                                                                                                                                                                                                                                                                                                                                                                                                                             8
Ridgeway, and Fieldale Virginia                                                                                                                                                                                                                                                                                                                                                                                                                                                      6
Virginia, the District and Maryland                                                                                                                                                                                                                                                                                                                                                                                                                                                  5
Southwest Virginia                                                                                                                                                                                                                                                                                                                                                                                                                                                                   5
Southern California                                                                                                                                                                                                                                                                                                                                                                                                                                                                  5
Langley Park apartment building                                                                                                                                                                                                                                                                                                                                                                                                                                                      5
Georgia, North Carolina and South Carolina                                                                                                                                                                                                                                                                                                                                                                                                                                           5
Newark, Long Island                                                                                                                                                                                                                                                                                                                                                                                                                                                                  5
Statewide: New Jersey                                                                                                                                                                                                                                                                                                                                                                                                                                                                5
SoCal                                                                                                                                                                                                                                                                                                                                                                                                                                                                                4
Georgia, Texas and North Carolina                                                                                                                                                                                                                                                                                                                                                                                                                                                    3
Pacific Northwest, in Alaska, Oregon, and Washington                                                                                                                                                                                                                                                                                                                                                                                                                                 3
nationwide, 98 Seven Eleven                                                                                                                                                                                                                                                                                                                                                                                                                                                          2
216 S State St. Ann Arbor                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
2 buses of  farmworkers, harvesting flowers                                                                                                                                                                                                                                                                                                                                                                                                                                          1
Montezuma Mexican, 225 Buford Ave, Gettysburg                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Belmont and Milwaukee avenues                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
6100 block of West Grand Avenue, BELMONT CRAGIN IL                                                                                                                                                                                                                                                                                                                                                                                                                                   1
BoatHouse Canton                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
Bicycle Hotel & Casino                                                                                                                                                                                                                                                                                                                                                                                                                                                               1
Los Angeles area of responsibility                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
Los Angeles fashion district                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
metro Detroit                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
"midwest"                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
Southeastern Provisions meat processing plant                                                                                                                                                                                                                                                                                                                                                                                                                                        1
two Palmerton pizza shops                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
West Texas                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
Meatpacking plant                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
Montezuma Mexican                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
Residential Home                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
mobile home park, Las Cruces                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
K-Macho’s restaurant                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
Chaldean Catholic Eparchy of St. Thomas the Apostle,  Southfield Michigan                                                                                                                                                                                                                                                                                                                                                                                                            1
Midwest Precast Concrete plant, Mount Pleasant                                                                                                                                                                                                                                                                                                                                                                                                                                       1
Rising Hope Mission Church                                                                                                                                                                                                                                                                                                                                                                                                                                                           1

Similarly, this seems to be a very unorganized attribute. So, no further modifications can be made without consultion with the client.

## For 'target' attribute:

In [202]:
target_longname='target  (location targeted: 1=restaurant 2=mobile home park 3=courthouse 4=jail 5= county 6=city/town, 7= store/establishment 8=state 9=hotel 10=church 11=private home 12=agricultural business 13= hospital)'

In [203]:
df_immig_raid[target_longname].value_counts()

target  (location targeted: 1=restaurant 2=mobile home park 3=courthouse 4=jail 5= county 6=city/town, 7= store/establishment 8=state 9=hotel 10=church 11=private home 12=agricultural business 13= hospital)
8                               117
Operation Cross Check            50
Operation Keep Safe              48
1, Operation Keep Safe           42
Operation Safe City              40
5                                40
1                                28
6                                23
Operation Project Shadowfire     14
Operation Safe Cities             9
11                                9
7                                 6
6,9,                              5
Operation Safe Haven              4
12                                3
10                                2
9                                 2
6                                 1
13                                1
2                                 1
Operation No Safe Haven II        1
Name: count, dtype: int64

In [204]:
df_immig_raid[target_longname].isna().any()

np.True_

There are peculiarities in the table above. The first odd thing is that it includes encoders, numbers, and names at the same time. There must be a consistency (only numbers or only names). The other odd thing is that there are multi-valued isntances like "6,9," and "1, Operation Keep Safe". Lastly, for whatever reason, there are two "6" values that are considered as different. There could be two reasons for that: first, one of them could be written as a number and the other one as string (their dtypes are different). Or the second scenario could be that there is a whitespace(s) after one of the 6.

In [220]:
df_immig_raid[target_longname].iloc[0]

7

In [221]:
df_immig_raid[target_longname].iloc[1]

'6'

In [227]:
df_immig_raid[target_longname].iloc[6]

9

It can be seen that some of the numbers are stored as integers and the others as strings.

I will replace the encoders with their original names. This is because I think it is more descriptive to do it in this way. What's more, by this way, we could get rid of the encoder's long description.

In [206]:
targets=["restaurant","mobile home park", "courthouse", "jail", "county", "city/town", "store/establishment", "state", "hotel", "church", "private home", "agricultural business", "hospital"]

target_encoder={i+1:targets[i] for i in range(13)}

In [233]:
def check_target(x):
    
    if type(x)==float:
        return x
    
    elif type(x)==int:
        return target_encoder[x]
    
    elif x=='6,9,':
        return target_encoder[9]
    
    elif x=='1, Operation Keep Safe':
        return "restaurant, Operation Keep Safe"
    
    elif x[0] in "1234567890":
        return target_encoder[int(x)]
    else:
        return x

In [234]:
df_immig_raid["target_location"]= df_immig_raid[target_longname].apply(check_target)

In [236]:
df_immig_raid["target_location"].value_counts()

target_location
state                              117
Operation Cross Check               50
Operation Keep Safe                 48
restaurant, Operation Keep Safe     42
county                              40
Operation Safe City                 40
restaurant                          28
city/town                           24
Operation Project Shadowfire        14
Operation Safe Cities                9
private home                         9
hotel                                7
store/establishment                  6
Operation Safe Haven                 4
agricultural business                3
church                               2
hospital                             1
mobile home park                     1
Operation No Safe Haven II           1
Name: count, dtype: int64

## For 'previousconviction' attribute:

In [237]:
df_immig_raid['previousconviction'].value_counts()

previousconviction
1                                                                                                                                                                                                                                                                                                                                                                      139
47.435897                                                                                                                                                                                                                                                                                                                                                               90
63.654618                                                                                                                                                                                                                                                                                                                                                               49
All of those arrested by ICE during the enforcement action, which concluded Sept. 29, met at least one of the agency’s three enforcement priorities. Over one quarter had criminal records that included felony convictions for serious or violent offenses, such as murder, attempted murder, child sex crimes, sex offenses, weapons charges and drug violations.     19
36.531365                                                                                                                                                                                                                                                                                                                                                                9
87.128713                                                                                                                                                                                                                                                                                                                                                                8
0.56                                                                                                                                                                                                                                                                                                                                                                     7
92.156863                                                                                                                                                                                                                                                                                                                                                                6
75.280899                                                                                                                                                                                                                                                                                                                                                                6
63.953488                                                                                                                                                                                                                                                                                                                                                                6
0.55                                                                                                                                                                                                                                                                                                                                                                     5
66.842105                                                                                                                                                                                                                                                                                                                                                                5
82.926829                                                                                                                                                                                                                                                                                                                                                                5
0.9                                                                                                                                                                                                                                                                                                                                                                      5
0.62                                                                                                                                                                                                                                                                                                                                                                     4
0.88                                                                                                                                                                                                                                                                                                                                                                     4
75                                                                                                                                                                                                                                                                                                                                                                       4
89.719626                                                                                                                                                                                                                                                                                                                                                                1
0.75                                                                                                                                                                                                                                                                                                                                                                     1
Name: count, dtype: int64

In [239]:
df_immig_raid['previousconviction'].isna().any()

np.True_

In [240]:
df_immig_raid['previousconviction'].isna().value_counts()

previousconviction
True     407
False    373
Name: count, dtype: int64

The values make no sense since the purpose of this attribute is ambiguous. Some instances are float, but some of them are given as percentages. This will be consulted to the client.

## For 'female' attribute:

In [238]:
df_immig_raid['female'].value_counts()

female
0.0     146
9.0      90
1.0      14
11.0     10
4.0       6
2.0       5
12.0      4
7.0       3
3.0       1
Name: count, dtype: int64

In [241]:
df_immig_raid['female'].isna().any()

np.True_

In [242]:
df_immig_raid['female'].isna().value_counts()

female
True     501
False    279
Name: count, dtype: int64

This attribute looks fine.

## For 'nationality' attribute:

In [243]:
df_immig_raid['nationality'].value_counts()

nationality
Mexico (125), Guatemala (10), Poland (6), El Salvador (4), Honduras (4), Philippines (2), Ecuador (1), Jamaica (1), Jordan (1), Lithuania (1) and New Zealand (1)                                                                                                                                                                                                                                          90
Mexico (37), Cuba (1), and El Salvador (1)                                                                                                                                                                                                                                                                                                                                                                 73
94 countries                                                                                                                                                                                                                                                                                                                                                                                               49
42 countries                                                                                                                                                                                                                                                                                                                                                                                               23
42 countries                                                                                                                                                                                                                                                                                                                                                                                               23
Mexico, Honduras, Guatemala, El Salvador, Nicaragua, Panama, Peru, Venezuela, Colombia, Guyana, Ecuador, Brazil, Bolivia, Argentina, Uruguay, Chile, Jamaica, Ukraine, Bahamas, Trinidad, Dominican Republic, Haiti, Saint Lucia, Saint Kitts, Turks & Caicos, Antigua, Cuba, Canada, Czech Republic, Romania, France, United Kingdom, Italy, Latvia, Greece and Egypt                                     19
14 Mexico, 1 Belize                                                                                                                                                                                                                                                                                                                                                                                        14
eight nationals from Honduras, seven nationals from El Salvador, six from Guatemala, four from Colombia, four from Cuba, three each from Brazil, Costa Rica, Guyana and Haiti, and two each from Ecuador, Egypt, Korea, the Philippines, Peru, Spain and Turkey, Congo, Ethiopia, Georgia, Jamaica, Liberia, Nicaragua, Nigeria, Pakistan, Portugal, the United Kingdom, Ukraine, Venezuela and Vietnam     8
Mexico (20); Jamaica (5), Ecuador (4), Honduras (3), Colombia (2), Dominican Republic (2), El Salvador (2),\nGuatemala (2), Yemen (2), Bangladesh (1), France (1), Guyana (1), Jordan (1), Nigeria (1), Poland (1),\nRomania (1), Slovakia (1), Spain (1), Trinidad (1), Yemen (1), Serbia (1), Egypt (1)                                                                                                   8
Mexico (74), Honduras (3), Peru (2), El Salvador (1), Guatemala (1) and Samoa (1)                                                                                                                                                                                                                                                                                                                           7
Mexico (55), Guatemala (10), El Salvador (6), Honduras (4) Bangladesh (3), Cameroon (1) Jordan (1), Laos (1), Liberia (1), Nigeria (1), Panama (1), Philippines (1) and Zimbabwe (1)                                                                                                                                                                                                                        6
Mexico (95); Guatemala (4); Honduras (4); El Salvador (2); Peru (2); Samoa (2); Brazil (1); and Tonga (1).\n\n                                                                                                                                                                                                                                                                                              6
Mexico (59), Guatemala (12), Honduras (8), Colombia (3), Nigeria (2), El Salvador (1), Laos (1), Nicaragua (1), Paquistán (1) y Vietnam (1).                                                                                                                                                                                                                                                                6
Bangladesh, Central African Republic, Chile, Colombia, Costa Rica, Cuba, Dominican Republic, Ecuador, El Salvador, Ghana, Guatemala, Guyana, Haiti, Honduras, India, Iraq, Ireland, Jamaica, Jordan, Korea, Latvia, Liberia, Mexico, Morocco, Nicaragua, Nigeria, Pakistan, Philippines, Peru, Poland, Slovakia, Trinidad and Uruguay                                                                       5
Mexico (146), Russion, El Salvador, Cambodia.                                                                                                                                                                                                                                                                                                                                                               5
Brazil, China, Colombia, Cuba, Dominican Republic, Ecuador, El Salvador, Guatemala, Honduras, Italy, Jamaica, Mexico, Peru, and Ukraine.                                                                                                                                                                                                                                                                    5
Algeria, Bolivia, China, Cuba, the Dominican Republic, El Salvador, Ethiopia, Ghana, Guatemala, Guinea, Honduras, Iran, Jamaica, Mexico, Moldova, Mongolia, New Zealand, Nicaragua, Peru, Philippines, Somalia, South Korea, Sudan, Trinidad, Vietnam and Sierra Leone                                                                                                                                      5
36 countries throughout the world, including: Afghanistan, Albania, Angola, Anguilla, Bahamas, Bosnia, Brazil, Burma, Cambodia, Chile, Canada, China, Colombia, Costa Rica, Cuba, Dominica, Dominican Republic, Ecuador, El Salvador, Guatemala, Guyana, Haiti, Honduras, Hungary, Israel, Jamaica, Kuwait, Mexico, Nicaragua, Panama, Peru, Philippines, Poland, Spain, Turkey, and United Kingdom.        5
Brazil, Canada, Colombia, Cuba, Dominican Republic, Ecuador, El Salvador, England, Guatemala, Guyana, Haiti, Honduras, India, Italy, Jamaica, Mexico, Poland, Portugal, Spain, Trinidad and Tobago, Uruguay, and Venezuela.                                                                                                                                                                                 5
Mexico, El Salvador, Guatemala, Armenia, Honduras, Russia, Thailand, Vietnam, the Philippines, Yugoslavia and Cambodia                                                                                                                                                                                                                                                                                      5
Brazil, Colombia, China, Cuba, Dominican Republic, Ecuador, Egypt, El Salvador, England, Ghana, Guatemala, Guyana, Haiti, Honduras, Hungary, Jamaica, Kenya, Mexico, Peru, Philippines and the Ukraine                                                                                                                                                                                                      5
Mexico (89), a total of 11 countries are represented, including El Salvador (7); Guatemala (5); Belize (2); Honduras (2); Vietnam (2); Egypt (1); Philippines (1); Tonga (1); the United Kingdom (1); and Azerbaijan (1).                                                                                                                                                                                   4
Mexico, Peru, Thailand, France and Ghana                                                                                                                                                                                                                                                                                                                                                                    4
Bahamas, Chile, Colombia, Costa Rica, Cuba, Dominican Republic, Ecuador, El Salvador, Guatemala, Haiti, Honduras, India, Israel, Italy, Jamaica, Mexico, Nicaragua, Panama, Peru, South Africa, St. Kitts, Ukraine, Vietnam                                                                                                                                                                                 4
Mexico (most), Guatemala (8), Honduras (2) and one each was from El Salvador, the United Kingdom, Cambodia, Brazil, Laos, the Philliipines, Western Samoa, Myanmar and Russia.                                                                                                                                                                                                                              3
Mexico, Peru, Thailand, France and Ghana, El Salvador,                                                                                                                                                                                                                                                                                                                                                      3
Belize (1), Bosnia (1), Ecuador (1), Guatemala (8), Honduras (3), Lithuania (3), Mexico (86), Poland (1), Senegal (1), and New Guinea (2)                                                                                                                                                                                                                                                                   1
Nigeria (3)                                                                                                                                                                                                                                                                                                                                                                                                 1
Mexican                                                                                                                                                                                                                                                                                                                                                                                                     1
37 son de México, una es de Cuba y la restante de El Salvador                                                                                                                                                                                                                                                                                                                                               1
95 countries                                                                                                                                                                                                                                                                                                                                                                                                1
Guatemala (1)                                                                                                                                                                                                                                                                                                                                                                                               1
44 countries                                                                                                                                                                                                                                                                                                                                                                                                1
43 countries                                                                                                                                                                                                                                                                                                                                                                                                1
Bahamas, Cuba, Dominican Republic, Haiti, Jamaica and Trinidad and Tobago, Afghanistan, Albania, Colombia, Costa Rica, Ecuador, Egypt, El Salvador, Guatemala, Honduras, South Korea, Mexico, Peru, Philippines, Poland, Slovenia, Spain, Tunisia, United Kingdom and Uruguay                                                                                                                               1
45 countries                                                                                                                                                                                                                                                                                                                                                                                                1
Name: count, dtype: int64

In [252]:
df_immig_raid['nationality'].isna().any()

np.True_

In [244]:
df_immig_raid['nationality'].isna().value_counts()

nationality
False    400
True     380
Name: count, dtype: int64

The values here are too messy. A consultation with the client is needed.

## For 'FIPSState' attribute:

In [245]:
df_immig_raid['FIPSState'].value_counts()

FIPSState
55.0    80
17.0    75
6.0     59
24.0    47
34.0    42
12.0    40
42.0    29
13.0    20
49.0    15
48.0    15
36.0    14
51.0    11
18.0     7
28.0     6
37.0     6
35.0     5
20.0     3
53.0     3
26.0     2
41.0     1
47.0     1
Name: count, dtype: int64

In [251]:
df_immig_raid['FIPSState'].isna().any()

np.True_

In [246]:
df_immig_raid['FIPSState'].isna().value_counts()

FIPSState
False    481
True     299
Name: count, dtype: int64

This attribute looks fine.

## For 'FIPSCounty' attribute:

In [247]:
df_immig_raid['FIPSCounty'].value_counts()

FIPSCounty
31.0     75
87.0     44
7.0      42
57.0     36
101.0    36
33.0     34
37.0     34
133.0    27
111.0    25
89.0     22
35.0     14
79.0     14
5.0      13
770.0    11
85.0      7
81.0      6
9.0       5
59.0      5
49.0      5
123.0     5
439.0     4
73.0      3
175.0     3
257.0     3
161.0     2
47.0      1
109.0     1
219.0     1
1.0       1
25.0      1
41.0      1
Name: count, dtype: int64

In [250]:
df_immig_raid['FIPSCounty'].isna().any()

np.True_

In [248]:
df_immig_raid['FIPSCounty'].isna().value_counts()

FIPSCounty
False    481
True     299
Name: count, dtype: int64

This attribute looks fine.

## For 'StateCountyFIPS' attribute:

In [249]:
df_immig_raid['StateCountyFIPS'].value_counts()

StateCountyFIPS
17031.0    71
34007.0    42
55101.0    37
6037.0     34
42133.0    26
           ..
55118.0     1
24041.0     1
55123.0     1
55122.0     1
28079.0     1
Name: count, Length: 116, dtype: int64

In [253]:
df_immig_raid['StateCountyFIPS'].isna().any()

np.True_

In [254]:
df_immig_raid['StateCountyFIPS'].isna().value_counts()

StateCountyFIPS
False    481
True     299
Name: count, dtype: int64

## Now, I will store the cleaned dataframe into a new excel file.

In [262]:
df_clean=pd.DataFrame()


attributes_to_add=['arrestdate_start', 'arrestdate_end', 'CountyName', 'ST', 'arrests', 'arrests_total', 'durationofraid', 'city', 'city2', 'city3', 'location',"target_location", 'previousconviction' , 'female', 'nationality', 'FIPSState', 'FIPSCounty', 'StateCountyFIPS']
df_clean =df_immig_raid[attributes_to_add]

In [264]:
df_clean.to_excel('immigration_raids_oct2014_may2018_CLEANED1.xlsx')